* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blueviolet;
}

.checker-container {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.input-container {
  padding: 20px;
}

.input-container input {
  padding: 5px 10px;
  font-size: 16px;
}
